.git
.gitignore
Dockerfile*
docker-compose*
node_modules
npm-debug.log
Dockerfile.backend
Dockerfile.frontend
.env
.env.local
.env.*
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
README.md